* {
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: hsla(0, 0%, 3%, 0.5);
}

.top-nav-collapse {
    background: #101110;  
    background: -webkit-linear-gradient(to right, rgb(8, 165, 255), rgb(20, 22, 21));  
    background: linear-gradient(to right, rgb(8, 165, 255), rgb(22, 24, 23)); 
}

@media only screen and (max-width: 768px) {
    .navbar {
        background: #000000;
        background: -webkit-linear-gradient(to top, hsla(0, 0%, 26%, 0.24), #000000);
        background: linear-gradient(to top, hsla(0, 0%, 26%, 0.308), #000000);
    }

    .top-nav-collapse {
        background: #4b6cb7;
        background: -webkit-linear-gradient(to top, #0c172c, #2f54a8);
        background: linear-gradient(to top, #0d1a33, #2e57b6);
    }
}

body {
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, hsla(188, 39%, 49%, 0.171), hsla(210, 30%, 24%, 0.479)), url(../img/Matt.jpg);
    background: linear-gradient(to right, hsla(188, 39%, 49%, 0.158), hsla(210, 30%, 24%, 0.521)), url(../img/Matt.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
}


/*--------------------------list-gruop----------------------*/
.list-group {
    padding-top: 12%;
    padding-bottom: 15%;
    width: 50%;
}

.list-group a{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-group span{
    margin-right: 20px;
}

.list-group i{
    margin: 10px;
    font-size: 22px;
}

.list-group-item:hover{
    background: rgb(8, 165, 255);
    color: #ffffff;
}


@media screen and (max-width:850px) {
    .list-group {
        padding-top: 100px;
        width: 100%;
    }
}

@media screen and (max-width:550px) {
    .list-group {
        padding-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}