.bg-black {
    padding: 10px 0 20px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to top, hsla(0, 0%, 0%, 0.788), hsla(211, 68%, 6%, 0.308), hsla(0, 0%, 100%, 0.842));
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.788), hsla(209, 66%, 7%, 0.288), hsla(0, 0%, 100%, 0.904)) !important;
}

.social {
    margin-top: 1rem;
    padding: 0px 0 15px;
}

.social .fab {
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social a {
    text-align: center;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 100%;
    line-height: 2.9rem;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social a:hover {
    transform: translateY(-8px);
    box-shadow: -5px -5px 18px rgba(0, 0, 0, 0.7);
}

.social a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: #fff;
    position: absolute;
    transition: 0.5s;
}

.social a:hover::after {
    top: 0;
}

.social .face {
    background: #074783;
    color: rgb(253, 253, 253);
}

.social .face:hover {
    font-size: 28px;
    /* background: white; */
    color: #074783;
}

.social .git {
    background: rgb(5, 5, 5);
    color: rgb(253, 253, 253);
}

.social .git:hover {
    font-size: 28px;
    /* background: #fdfdfd; */
    color: #050505;
}

.social .tele {
    background: hsl(216deg, 100%, 50%);
    color: hsl(0deg, 0%, 100%);
    font-size: 25px;
}

.social .tele:hover {
    font-size: 28px;
    /* background: rgba(255, 255, 255, 0.815); */
    color: #0066ff;
}

.social .insta {
    background: linear-gradient(30deg, yellow, red, purple, rgba(0, 0, 255, 0.42));
    color: #ffff;
}

.social .insta:hover {
    font-size: 28px;
    /* background: #ffff; */
    color: red;
}

.social .yout {
    background: rgb(216, 10, 10);
    color: rgb(253, 253, 253);
}

.social .yout:hover {
    font-size: 28px;
    /* background: #fdfdfd; */
    color: #d80a0a;
}


.social .what {
    background: rgb(11, 179, 39);
    color: rgb(253, 253, 253);
}

.social .what:hover {
    font-size: 28px;
    /* background: #fdfdfd; */
    color: #11d332;
}

.social .twit {
    background: #2b71f3;
    color: rgb(253, 253, 253);
}

.social .twit:hover {
    font-size: 28px;
    /* background: rgba(255, 255, 255, 0.815); */
    color: #2c72f3;
}

.social a:active {
    color: rgb(0, 0, 0);
}

footer .container {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.829);
}

footer hr {
    border-color: #000000;
    border-width: 0.15rem;
    margin-right: 2rem;
    padding: 0 0 10px;
}

@media screen and (max-width:550px) {
    .social {
        flex-wrap: wrap;
    }
}